<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This Is Tha Main Page!</title>
</head>
<body>
  <h4>mainpage</h4>
  <p>maintext</p>
  <h4>mainpage</h4>
  <p>maintext</p>
  <h4>mainpage</h4>
  <p>maintext</p>
  <h4>mainpage</h4>
  <p>maintext</p>
  <h4>mainpage</h4>
  <p>maintext</p>
  <h4>mainpage</h4>
  <p>maintext</p>
  <h4>mainpage</h4>
  <p>maintext</p>
  <h4>mainpage</h4>
  <p>maintext</p>

</body>
</html>
