<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This Is Tha Main Page!</title>
</head>
<body>
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <p class="h5 my-0 me-md-auto fw-normal">Company name</p>
  <nav class="my-2 my-md-0 me-md-3">
    <a class="p-2 text-dark" href="#">Features</a>
    <a class="p-2 text-dark" href="#">Enterprise</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Pricing</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</header>
  <h4>mainpage</h4>
  <p>maintext</p>
  <h4>mainpage</h4>
  <p>maintext</p>
  <h4>mainpage</h4>
  <p>maintext</p>
  <h4>mainpage</h4>
  <p>maintext</p>
  <h4>mainpage</h4>
  <p>maintext</p>
  <h4>mainpage</h4>
  <p>maintext</p>
  <h4>mainpage</h4>
  <p>maintext</p>
  <h4>mainpage</h4>
  <p>maintext</p>

</body>
</html>
