{% extends 'main/base.html' %}

{% block title %}
  This Is Tha Main Page!
{% endblock %}


{% block content %}
  <h4>я же не хочу на язке математиков писать</h4>
  <p>kak pofarmil na meduze</p>
  <h4>да там драйвер на ассемблере</h4>
  <p>kak pofarmil na meduze</p>
  <h4>ифчо ифчо ифчо ифчо ифчо ифчо ифчо ифчо ифчо ифчо ифчо </h4>
  <h4>ифчо ифчо ифчо ифчо ифчо ифчо ифчо ифчо ифчо ифчо ифчо </h4>
  <h4>менчик менчик менчик менчик менчик менчик менчик менчик </h4>
  <h4>менчик менчик менчик менчик менчик менчик менчик менчик </h4>
  <p>kak pofarmil na meduze</p>
  <h4>ну я шарю, но доту подшаманить, шоб работало норм не могу</h4>
  <p>буду фронтенд богом</p>
  <h4>да я ща на реакте бек накину и пойду кофе сварю</h4>
  <p>четкий пацан из камеры обскура</p>

{% endblock %}
