{% extends 'main/base.html' %}

{% block title %}
  This Is Tha Main Page!
{% endblock %}


{% block content %}
  <h4>я осуждаю то, что вы меня называете подкаблучником</h4>
  <p>я осуждаю то, что вы меня называете подкаблучником</p>
  <h4>я осуждаю то, что вы меня называете подкаблучником</h4>
  <p>я осуждаю то, что вы меня называете подкаблучником</p>
  <h4>я осуждаю то, что вы меня называете подкаблучником</h4>
  <p>я осуждаю то, что вы меня называете подкаблучником</p>
  <h4>я осуждаю то, что вы меня называете подкаблучником</h4>
  <p>я осуждаю то, что вы меня называете подкаблучником</p>
  <h4>я осуждаю то, что вы меня называете подкаблучником</h4>
  <p>я осуждаю то, что вы меня называете подкаблучником</p>
  <h4>я осуждаю то, что вы меня называете подкаблучником</h4>
  <p>я осуждаю то, что вы меня называете подкаблучником</p>
  <h4>я осуждаю то, что вы меня называете подкаблучником</h4>
  <p>я осуждаю то, что вы меня называете подкаблучником</p>
  <h4>я осуждаю то, что вы меня называете подкаблучником</h4>
  <p>я осуждаю то, что вы меня называете подкаблучником</p>
  

  {% endblock %}
