{% extends 'main/base.html' %}

{% block title %}
  This Is Tha Main Page!
{% endblock %}


{% block content %}
  <h4>beri bristlbeka</h4>
  <p>pokupai tarasku</p>
  <h4>beri bristlbeka</h4>
  <p>pokupai tarasku</p>
  <h4>beri bristlbeka</h4>
  <p>pokupai tarasku</p>
  <h4>beri bristlbeka</h4>
  <p>pokupai tarasku</p>
  <h4>beri bristlbeka</h4>
  <p>pokupai tarasku</p>
  <h4>beri bristlbeka</h4>
  <p>pokupai tarasku</p>
  <h4>beri bristlbeka</h4>
  <p>pokupai tarasku</p>
  <h4>beri bristlbeka</h4>
  <p>pokupai tarasku</p>
  <h4>beri bristlbeka</h4>
  <p>pokupai tarasku</p>
  
  {% endblock %}
